# Compiled Object files
*.slo
*.lo
*.o
*.d
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# eclipse stuff
.metadata/
.settings/
*/.settings/
RemoteSystemsTempFiles/
eclipse.sh
*/Debug/trad
*/Release/trad
*/Debug/maimutza
*/Release/maimutza
*/Debug/cupid
*/Release/cupid
*/Debug/watchdog
*/Release/watchdog

